# Compiled Object files
*.o
*.obj


# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.bbl
*.blg

# Executables
*.exe
*.out
*.app

# Figures
*.png

*.pyc

### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.synctex.gz
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
